.myfont {
    color: red;
}

.maintitle {
    color: #fff;
    text-decoration: none;
    text-shadow: #111 0px 0px 10px;
}
.maintitle:visited {
    color: #fff;
    text-decoration: none;
    text-shadow: #111 0px 0px 10px;
}